.sidebar {
  width: 16.666667%; 
  background-color: white;
  height: 100vh; 
  
}

.logo-container {
  padding-top: 1rem;
  text-align: center;
  gap: 0.25rem; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-bottom: 0.25rem; 
}

.company-name {
  font-family: 'Khand', sans-serif; 
  font-weight: bold;
  font-size: 2.25rem;
}

.faq-menu{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.solutions-text {
  font-size: x-large;
  font-weight: 600;
  margin-top: 1rem; 
  text-align: center;
}

.faq-button{
  border: 0;
  background-color: transparent;
  font-size: x-large;
  cursor: pointer;
  margin-top: 1.5rem;
}

.faq-div{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

.faq-question{
  font-size: large;
  font-weight: 600;
  text-align: left;
  margin: 0 1rem;
  
}

.faq-answer{
  font-size: medium;
  font-weight: 400;
  margin-top: .8rem;
  margin-left: 1.5rem;
  list-style-type: disc;
}

.collaborator-div{
  margin-top: 5rem;
  text-align: center;
}

.faq-closed{
  margin-top: 34.550rem;
}

.collaborator-img{
  width: 30%;
  height: auto;
}

.collaborator-name{
  margin-top: 1rem;
  font-size: 1.5rem;
  font-family: 'Khand', sans-serif;
}

.collaborator-title{
  margin-top: 0.5rem;
}

@media (min-width: 1024px) and (max-width: 1600px) {
  .collaborator-div{
    margin-top: 1rem;
  }
  .faq-div{    
    gap: 1.250rem;
  }
  .faq-closed{
    margin-top: 32rem;
  }
}
