.dialogue-section{
  display: flex;
  justify-content: end;
  flex-direction: column;
  position: relative;
  height: 90vh;
  
}
.response-div{
  text-wrap: wrap;
  display: inline-flex;
  justify-content: flex-start;
  width: 100%;
}

.message-div{
  text-wrap: wrap;
  display: inline-flex;
  justify-content: flex-end;
  width: 100%;
}

.label-message{
  position: relative;
  right: 3rem;
  margin: .5rem 0;
  width: 15rem;
  height: auto;
  max-height: fit-content;
  max-width: 40rem;
  padding: 0.5rem 1rem;
  background-color: #88deff;
  text-align: left;
  text-overflow: clip;
  text-wrap: wrap;
  overflow: hidden;
  border-radius: 6px;
  white-space: normal;
  word-wrap: break-word;
}

.label-response{
  position: relative;
  left: 3rem;
  margin: .5rem 0;
  width: 20rem;
  line-height: 1.3rem;
  height: auto;
  max-height: fit-content;
  max-width: 40rem;
  padding: 0.5rem 1rem;
  background-color: #88deff;
  text-align: left;
  text-overflow: clip;
  text-wrap: wrap;
  overflow: hidden;
  border-radius: 6px;
  white-space: normal;
  word-wrap: break-word;
}
