.dialogue-section {
  height: 100%;
  overflow-y: auto;
}

.response-div,
.message-div {
  display: flex;
  width: 100%;
}

.response-div {
  justify-content: flex-start;
}

.message-div {
  justify-content: flex-end;
}

.label-message {
  position: relative;
  right: 3rem;
  margin: .5rem 0;
  width: 15rem;
  height: auto;
  max-height: fit-content;
  max-width: 40rem;
  padding: 0.5rem 1rem;
  background-color: #88deff;
  text-align: left;
  text-overflow: clip;
  text-wrap: wrap;
  border-radius: 6px;
  white-space: normal;
  word-wrap: break-word;
}

.label-response {
  position: relative;
  left: 3rem;
  margin: .5rem 0;
  width: 20rem;
  line-height: 1.3rem;
  height: auto;
  max-height: fit-content;
  max-width: 40rem;
  padding: 0.5rem 1rem;
  background-color: #88deff;
  text-align: left;
  text-overflow: clip;
  text-wrap: wrap;
  border-radius: 6px;
  white-space: normal;
  word-wrap: break-word;
}
